/* public/style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

/* 背景容器样式 */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), var(--bg-image);
    z-index: -1;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 70%;
    width: 550px;
    position: relative;
    z-index: 1;
}

h1 {
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.loading,
.error {
    color: #2c3e50;
}

p {
    color: #7f8c8d;
    line-height: 1.6;
}

button {
    background-color: #3498db;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
    outline: none;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#image-container {
    margin-top: 2rem;
}

.random-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.random-image:hover {
    transform: scale(1.1);
}

#api-info {
    margin-top: 3rem;
    border-top: 1px solid #ddd;
    padding-top: 2rem;
    color: #333;
}

#api-info h2 {
    color: #2c3e50;
    margin-bottom: 1rem;
}

#api-info pre {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
    text-align: left;
}

#api-info code {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    display: block; /* 使 code 元素块级显示 */
    margin-bottom: 0.5em; /* 与下面的 <p> 元素保持间距 */
}

.html-code {
    color: #8e44ad;
}

.css-code {
    color: #2980b9;
}

.js-code {
    color: #e67e22;
}

/* API URL 容器样式 */
.api-url-container {
     display: flex;
    align-items: center;
    justify-content: space-between; /* 让按钮和 URL 在同一行，按钮靠右 */
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 4px;
}
#copy-btn {
    background-color: transparent; /* 按钮背景透明 */
    color: #333;
    border: none; /* 无边框 */
    padding: 0;  /* 无内边距 */
    margin-left: 0; /* 取消左边距 */
    cursor: pointer;
    transition: color 0.2s ease; /* 颜色过渡 */
    font-size: 0.9rem; /* 字体略小 */
}
#copy-btn:hover {
    box-shadow: none;
    transform: none;
     color: #7f8c8d; /* 鼠标悬停时略微变色 */
}