/* public/style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

/* 背景容器样式 */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    /* 使用 linear-gradient 叠加半透明颜色 */
     background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), var(--bg-image);
    z-index: -1;
}

.container {
     /* 降低容器的透明度 */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 70%; /* 稍微缩小宽度 */
    width: 550px;  /* 或者使用固定宽度 */
    /* margin: 2rem auto;  或者添加外边距 */
    position: relative;
    z-index: 1;
}

h1 {
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.loading,
.error {
    color: #2c3e50;
}

p {
    color: #7f8c8d;
    line-height: 1.6;
}

button {
    background-color: #3498db;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 1rem;
    transition: all 0.3s ease;
    outline: none;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#image-container {
    margin-top: 2rem;
}

.random-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.random-image:hover {
    transform: scale(1.1);
}

#api-info {
    margin-top: 3rem;
    border-top: 1px solid #ddd;
    padding-top: 2rem;
    color: #333;
}

#api-info h2 {
    color: #2c3e50;
    margin-bottom: 1rem;
}

#api-info pre {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
    text-align: left;
}

#api-info code {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

.html-code {
    color: #8e44ad;
}

/* API URL 容器样式 */
.api-url-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#copy-btn {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1rem;
}

#copy-btn:hover {
    background-color: #ddd;
    box-shadow: none;
    transform: none;
}

#copy-btn.copied {
    color: #27ae60;
    background-color: #f0f0f0;
}